body {
    background-image: url(https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExc2psa3FnMHp4N2dsNDhqdTlqaTA5YzhoYWV0MDlpMHJ5Nm9wZ3pzbSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/CJrLTsmaFygfYtsDCP/giphy.gif);
    background-repeat: no-repeat;
    background-size: 1400px 900px;
    background-position: center;
    }
    
    .container{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    main{
        width: 500px;
        height: 500px;
    }
    
    .areajuego{
        background-color: transparent;
        backdrop-filter: blur(20px);
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height: 80%;
        justify-content: stretch;
        font-size: 5pc;
        background-size: cover;
        background-position: center;
    }
    
    .cuadrado{
        color: rgb(255, 254, 254);
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        transition-duration: 1s;
       
    }
    
    .cuadrado:hover{
        background-image: url(https://i.gifer.com/y2.gif); 
        justify-content: center;
        background-size: cover;
        color: rgb(209, 133, 133);
    }
    
    .bar{
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 2em;
        margin-top: 1em;
    }
    
    .status{
        margin-top: 10px;
        background: rgb(19, 197, 185);
        color: white;
        text-align: center;
        background-color: transparent;
         }
    
    h3{
        color: #13178f;
        font-family: "Mochiy Pop One", sans-serif;
        text-align: center;
        font-size: 25px;
    }
    
    .accion{
        display: flex;
        justify-content: center;
        padding: 3em;
    }
    
    button{
    padding: 15px 32px;
    color: rgb(255, 255, 255);
    background-color: #00ff95;
    font-family: "Mochiy Pop One", sans-serif;
    border: #181818;
    transition-duration: 0.4s;
    }
    
    button:hover{
        background-color: #00ff95;
        color: rgb(204, 166, 166);
        cursor: pointer;
    }
    
    #ganadasX,#winner,
    #ganadasY,#empates{
        font-family: "Mochiy Pop One", sans-serif;
    }
    